<!DOCTYPE html>
<html>
    <head>
        <title>View Students</title>
        <link rel="stylesheet"
        href="{{url_for('static',filename='style.css')}}">
    </head>
    <body>
        <h1>Student List</h1>
        <table border="1"
        align="center"
        cellpadding="10">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>City</th>
        </tr>
        {% for student in students%}
        <tr>
            <td>{{student.id}}</td>
            <td>{{student.name}}</td>
            <td>{{student.age}}</td>
            <td>{{student.city}}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{{url_for('index')}}">Back</a>
</body>
</html>

